:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "League Spartan", sans-serif;
    background-color: var(--white);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 326px, 326px;
    background-position: top center, bottom center;
    /* FIND OUT IF I ACTUALLY NEED THIS */
    /* min-width: 236px; */
}

/******************/
/* MOBILE VERSION */
/******************/

.social-proof-page {
    padding: 80px 0;
    margin: 0 auto;
}

.headline {
    margin: auto;
    text-align: center;
    width: 326px;
}

.headline__title {
    font-size: 38px;
    font-weight: 700;
    color: var(--very-dark-magenta);
    padding: 0 45px;
    line-height: .9;
    letter-spacing: -1px;
}

.headline__text {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-grayish-magenta);
    line-height: 1.3;
    padding: 24px 0 32px 0;
}

/* RATINGS SECTION */
.ratings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ratings__card {
    margin: 9px 0;
    width: 326px;
    background-color: var(--light-grayish-magenta);
    border-radius: 10px;
    padding: 16px 0 13px 0;
}

.ratings__card:last-child {
    margin-bottom: 37px;
}

.ratings__stars {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 7px;
}

.ratings__star {
    padding: 0 4px;
}

.ratings__info {
    font-size: 17px;
    font-weight: 700;
    color: var(--very-dark-magenta);
    text-align: center;
}

/* reviews SECTION */
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__card {
    margin: 8px 0;
    max-width: 326px;
    background-color: var(--very-dark-magenta);
    border-radius: 10px;
    padding: 39px 31px 37px 31px;
}

.reviews__profile {
    display: flex;
    padding-bottom: 30px;
}

.reviews__photo {
    border-radius: 50%;
    width: 40px;
}

.reviews__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
}

.reviews__name {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

.reviews__status {
    color: var(--soft-pink);
    font-size: 16px;
    font-weight: 400;
}

.reviews__review {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
}

/**********************/
/* IN BETWEEN VERSION */
/**********************/
@media screen and (min-width: 781px) and (max-width: 949px;) {

    .ratings__card:nth-child(1) {
        align-self: flex-end;
    }

}

/*******************/
/* DESKTOP VERSION */
/*******************/
@media screen and (min-width: 950px) {
    
    .social-proof-page {
        max-width: 1153px;
        height: 100vh;
        display: grid;
        grid-template-columns: 51% 49%;
        grid-template-rows: 47% 35%;
        /* padding: 100px 165px; */
        padding: 80px 20px;
    }

    .headline {
        width: 100%;
        margin: 0;
        text-align: left;
        grid-column-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 123px;
    }

    .headline__title {
        font-size: 52px;
        padding: 0;
    }

    .headline__text {
        padding: 24px 0 27px 0;
    }

    .ratings {
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .ratings__card {
        margin: 9px 0;
        width: 445px;
        background-color: var(--light-grayish-magenta);
        border-radius: 10px;
        padding: 16px 0 13px 0;
        display: flex;
        align-items: center;
    }
    
    .ratings__card:nth-child(1) {
        align-self: flex-start;
    }
    
    .ratings__card:nth-child(3) {
        align-self: flex-end;
    }
    
    .ratings__stars {
        padding: 0 29px 0 27px;
    }
    
    .reviews {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1153px;
    }

    .reviews__card {
        margin: 0;
        max-width: 350px;
        background-color: var(--very-dark-magenta);
        border-radius: 10px;
        padding: 39px 31px 41px 31px;
    }

    .reviews__card:nth-child(1) {
        align-self: flex-start;
    }
    
    .reviews__card:nth-child(3) {
        align-self: flex-end;
    }

}