:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "League Spartan", sans-serif;
    background-color: var(--white);
    /* position: absolute; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(images/bg-pattern-bottom-mobile.svg), url(images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat no-repeat;
    background-position: bottom right, top left;    
}

/******************/
/* MOBILE VERSION */
/******************/

.social-proof-page {
    padding: 5rem 1.9rem;
    margin: 0 auto;
}

.headline {
    margin: auto;
    text-align: center;
    width: 20.4rem;
}

.headline__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--very-dark-magenta);
    padding: 0 2.8rem;
    line-height: .9;
    letter-spacing: -1px;
}

.headline__text {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--dark-grayish-magenta);
    line-height: 1.3;
    padding: 1.5rem .2rem 2rem .2rem;
}

/* RATINGS SECTION */
.ratings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ratings__card {
    margin: .6rem 0;
    width: 20.4rem;
    background-color: var(--light-grayish-magenta);
    border-radius: 10px;
    /* padding: 1rem 0 .8rem 0; */
    padding: 1rem 0 1rem 0;
}

.ratings__card:last-child {
    margin-bottom: 2.3rem;
}

.ratings__stars {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 7px;
    padding-right: 1rem;
}

.ratings__star {
    /* padding: 0 4px; */
    padding: 0 .25rem;
}

.ratings__info {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--very-dark-magenta);
    text-align: center;
}

/* REVIEWS SECTION */
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__card {
    margin: .5rem 0;
    max-width: 20.4rem;
    background-color: var(--very-dark-magenta);
    border-radius: 10px;
    padding: 2.4rem 1.9rem 2.3rem 1.9rem;
}

.reviews__profile {
    display: flex;
    padding-bottom: 1.9rem;
}

.reviews__photo {
    border-radius: 50%;
    width: 2.5rem;
}

.reviews__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.6rem;
}

.reviews__name {
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
}

.reviews__status {
    color: var(--soft-pink);
    font-size: 1rem;
    font-weight: 400;
}

.reviews__review {
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
}

.attribution {
    font-size: .7rem;
    text-align: center;
}

.attribution__link {
    color: hsl(228, 45%, 44%);
}

.attribution__link:after {
    color: hsl(228, 45%, 44%);
}

/*******************/
/* DESKTOP VERSION */
/*******************/
@media screen and (min-width: 949px) {
    
    body {
        background-image: url(images/bg-pattern-bottom-desktop.svg), url(images/bg-pattern-top-desktop.svg);
        background-repeat: no-repeat no-repeat;
        background-position: bottom right, top left;
    }

    .social-proof-page {
        /* max-width: 1153px; */
        max-width: 72rem;
        height: 100vh;
        display: grid;
        grid-template-columns: 51% 49%;
        grid-template-rows: 47% 35%;
        padding: 5rem 1.25rem;
    }
    
    .headline {
        width: 100%;
        margin: 0;
        text-align: left;
        grid-column-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 7.7rem;
    }
    
    .headline__title {
        font-size: 3.25rem;
        padding: 0;
    }
    
    .headline__text {
        padding: 1.5rem 0 2rem 0;
    }

    .ratings {
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .ratings__card {
        margin: .6rem 0;
        /* width: 445px; */
        width: 27.8rem;
        background-color: var(--light-grayish-magenta);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ratings__card:nth-child(1) {
        align-self: flex-start;
    }
    
    .ratings__card:nth-child(3) {
        align-self: flex-end;
    }
    
    .reviews {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* max-width: 1153px; */
        max-width: 72rem;
    }
    
    .reviews__card {
        margin: 0;
        /* max-width: 350px; */
        max-width: 21.9rem;
        background-color: var(--very-dark-magenta);
        border-radius: 10px;
        padding: 2.44rem 1.9rem 2.6rem 1.9rem;
    }
    
    .reviews__card:nth-child(1) {
        align-self: flex-start;
    }
    
    .reviews__card:nth-child(3) {
        align-self: flex-end;
    }

    /**********************/
    /* IN BETWEEN VERSION */
    /**********************/
    @media screen and (min-width: 950px) and (max-width: 1160px) {
    
        .social-proof-page {
            /* max-width: 1160px; */
            max-width: 72.5rem;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr 1fr;
        }

        .headline {
            grid-row-start: 1;
            padding-right: 0;
            text-align: center;

        }

        .ratings {
            grid-row-start: 2;
            grid-column-start: 1;
        }

        .reviews {
            grid-row-start: 3;
        }
    
        .reviews__card {
            /* max-width: 275px; */
            max-width: 17.2rem;
        }

    }
        
}